<h3>ManageTeam</h3>

@if (SelectedTeam != null)
{
    <FluentEditForm Model="@SelectedTeam" OnValidSubmit="HandleValidSubmit">

    <FluentTextField @bind-Value="SelectedTeam.Name" Label="Name"></FluentTextField>

    @foreach(var player in SelectedTeam.Players)
        {
            <p> @player.Name</p>
        }



</FluentEditForm>
}

@code {
    [Parameter]
    public Team? SelectedTeam { get; set; }
    public List<Player> TeamPlayers = new();

    private async Task OnInitializedAsync()
    {
        if (SelectedTeam != null)
        {
            
        }
    }

    private async void HandleValidSubmit()
    {
        
    }

}
